body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.heading h1{
    font-size: 60px;
    margin-bottom: 0;
}
.number span{
    font-size: 100px;
}
.buttons button{
    background-color: white;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    font-size: 17px;
    font-weight: lighter;
    border-radius: 15px;
}